<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RangiHub</title>

    <link
      rel="shortcut icon"
      href="/public/img/favicon.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/public/css/app.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="https://unpkg.com/blurhash-img?module"></script>
  </head>
  <body>
    <p class="attribution text-shadow">
      Photo by
      <a
        href="<%- unsplashBackground.authorUrl %>?utm_source=RangiHub&utm_medium=referral"
        target="_blank"
        ><%- unsplashBackground.author %></a
      >
      on
      <a
        href="https://unsplash.com/?utm_source=RangiHub&utm_medium=referral"
        target="_blank"
        >Unsplash</a
      >
    </p>

    <div id="appBack" class="box-shadow">
      <div id="spinner" class="hidden">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <span><strong id="spinnerMessage" class="hidden"></strong></span>
      </div>

      <h1 class="title vp hidden"></h1>
      <div id="viewport" class="vp hidden"></div>
    </div>

    <blurhash-img hash="<%- unsplashBackground.blurHash %>"></blurhash-img>
    <section
      id="background"
      style="
        background-image: url(<%- unsplashBackground.image %>?utm_source=RangiHub&utm_medium=referral);
      "
    ></section>

    <script src="/public/js/app.js"></script>

    <a
      href="https://github.com/Proximitynow19/RangiHubV4/commit/<%- version %>"
      target="_blank"
      id="version"
      ><%- version %></a
    >

    <div id="notices"></div>
  </body>
</html>
