<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RangiHub</title>

    <link
      rel="shortcut icon"
      href="/public/img/favicon.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script type="module" src="https://unpkg.com/blurhash-img?module"></script>
  </head>
  <body>
    <blurhash-img hash="<%- unsplashBackground.blurHash %>"></blurhash-img>
    <header
      style="
        background-image: url(<%- unsplashBackground.image %>?utm_source=RangiHub&utm_medium=referral);
      "
      class="box-shadow"
    >
      <nav>
        <div>
          <a href="/" class="nocss"
            ><img src="/public/img/logo-white.svg" alt="Logo"
          /></a>
        </div>
        <div>
          <a href="/app" class="text-shadow box-shadow button">Open App</a>
        </div>
      </nav>

      <p class="attribution text-shadow">
        Photo by
        <a
          href="<%- unsplashBackground.authorUrl %>?utm_source=RangiHub&utm_medium=referral"
          target="_blank"
          ><%- unsplashBackground.author %></a
        >
        on
        <a
          href="https://unsplash.com/?utm_source=RangiHub&utm_medium=referral"
          target="_blank"
          >Unsplash</a
        >
      </p>

      <h1 class="text-shadow">RangiHub</h1>
      <a href="/app" class="text-shadow box-shadow button">Open App</a>
    </header>

    <nav id="dynamic-nav" class="hidden">
      <div>
        <a href="/" class="nocss"
          ><img src="/public/img/logo-black.svg" alt="Logo"
        /></a>
      </div>
      <div>
        <a href="/app" class="text-shadow box-shadow button">Open App</a>
      </div>
    </nav>

    <section>
      <div class="row imgLeft">
        <img src="/public/img/class.svg" draggable="false" alt="class" />
        <div class="description">
          <h2>Get notified when your classes start</h2>
          <p>
            RangiHub allows you to know what and when your next class starts and
            notifies you!
          </p>
          <p>
            You will never forget what class is next and when it starts ever
            again after using this feature!
          </p>
        </div>
      </div>
    </section>

    <section class="alt-background">
      <div class="row imgRight">
        <img src="/public/img/chat.svg" draggable="false" alt="chat" />
        <div class="description">
          <h2>Easily communicate with your friends</h2>
          <p>
            RangiHub allows you to easily communicate with all your friends! You
            can easily share notes, discuss your classes, and talk about
            anything to your friends!
          </p>
        </div>
      </div>
    </section>

    <footer>
      <a
        href="https://github.com/Proximitynow19/RangiHubV4/commit/<%- version %>"
        target="_blank"
        ><%- version %></a
      >
    </footer>

    <script src="/public/js/index.js"></script>
  </body>
</html>
